* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color:white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* Nav Bar code */

header {
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: cadetblue;
  color: #ffffff;
}


header h1 {
  display: inline-block;
  font-size: 30px;
}

header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

header a {
  color: #ffffff;
  text-decoration: none;
}
 /* Nav bar code end */ 


 /* Subtitle code start */
.hero-banner {
  margin-bottom: 10px;
  padding: 20px;
  background-image: url(../images/02-hero-bg.jpg);
  color: red;
  background-size: cover;
  background-position: center;
  height: 300px;
  font-size: 40px;
  

}

/* subtitle code end */

/* Side bar code start */

main section {
  display: flex;
  flex-wrap: wrap;
  padding: 0 5px;
  background-color: aqua;
  align-items: center;
}
main section+section {
  margin-top: 3%;
}

section h2 {
  flex: 0 0 10ch;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 50px;
 
}
section div {
  flex: 1 1 0;
  background-color: red;
}

section#work div{
  background-color: green;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

section article {
  flex: 1 0 100px;
  background-color: blueviolet;
  height: 200px;

}

section article:first-child {
  flex-basis: 100%;
  
}
/* Side bar code end */

/* Grid area code */





/* footer code */ 

